<%= simple_form_for @event, validate: true do |f| %>
  <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start %>

  <%= f.simple_fields_for :address, validate: true do |address| %>
    <%= render partial: 'shared/address/form', locals: {f: address} %>
  <% end %>



  <h2>Social Profiles</h2>

  <div id="social-profile-fields">
    <%= f.simple_fields_for :social_profiles, validate: true do |social_profile| %>
      <%= render partial: 'shared/social_profile/form', locals: {f: social_profile, show_remove: false} %>
    <% end %>
    <div><%= link_to_add_association 'add profile', f, :social_profiles, partial: 'shared/social_profile/form'%></div>
  </div>



  <h2>Workouts</h2>

  <div id="workout-fields">
    <%= f.simple_fields_for :workouts, validate: true do |workout| %>
      <%= render partial: 'shared/workout/form', locals: {f: workout, show_remove: false} %>
    <% end %>
    <div><%= link_to_add_association 'add workout', f, :workouts, partial: 'shared/workout/form'%></div>
  </div>
  


  <%= f.button :submit %>
<% end %>
