<%= simple_form_for @event, validate: true do |f| %>
  <%= f.object.errors.full_messages.join(", ") if f.object.errors.any? %>

  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :start %>
  <%= f.input :min_participants, input_html: { min: '0' } %>
  <%= f.input :max_participants, input_html: { min: '0' } %>

  <%= f.simple_fields_for :address do |address| %>
    <%= render partial: 'shared/address/form', locals: {f: address} %>
  <% end %>



  <h2>Social Profiles</h2>

  <div id="social-profile-fields">
    <%= f.simple_fields_for :social_profiles do |social_profile| %>
      <%= render partial: 'shared/social_profile/form', locals: {f: social_profile} %>
    <% end %>
    <div><%= link_to_add_association 'add profile', f, :social_profiles, partial: 'shared/social_profile/form'%></div>
  </div>



  <h2>Workout</h2>

  <div id="workout-fields">
    <%= f.simple_fields_for :exercise_instances do |ex_inst| %>
      <%= render partial: 'shared/exercise_instance/form', locals: {f: ex_inst} %>
    <% end %>
    <div><%= link_to_add_association 'add exercise', f, :exercise_instances, partial: 'shared/exercise_instance/form'%></div>
  </div>
  


  <%= f.button :submit %>
<% end %>
