<!-- Google Maps Must be loaded -->
<% content_for :head do %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMh8-5D3mJSXspmJrhSTtt0ToGiA-JLBc&libraries=places"></script>
<% end %>

<%
num_participants = @event.participants.count
%>

<script>
markerPos = new google.maps.LatLng(<%= @event.address.latitude %>,<%= @event.address.longitude %>);
</script>

<p><%= pluralize(num_participants,'person') %> going to this event </p>

<%= @event.participants.to_a %>

<% if user_signed_in? 
    if @participant != nil %>
        <%= link_to "Remove myself from event", remove_participant_from_event_path, method: :put, remote: true %>
    <% else %>
        <%= link_to "Sign Up For Event", add_participant_to_event_path, method: :put, remote: true %>
    <%  end
end %>

<%= 
#Event.reflect_on_all_associations.map{|x| x.class_name}.compact
#@event.attributes
#@event.address.attributes
 %>

<div id="map"></div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
