<!-- Google Maps Must be loaded -->
<% content_for :head do %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMh8-5D3mJSXspmJrhSTtt0ToGiA-JLBc&libraries=places"></script>
<% end %>

<script>
markerPos = new google.maps.LatLng(<%= @event.address.latitude %>,<%= @event.address.longitude %>);
</script>


<h2>
Participants: 
</h2>

<p><%= pluralize(@event.participants.count,'person') %> going to this event </p>

<p>

<% for participant in @event.participants %>
  <%= link_to participant.user.name, user_path(participant.user) %>
  <!-- Not right action, rm_role only adds/removes current user
  <% if current_user == @event.creator.user %>
    <%= link_to "X", 
        rm_role_event_path(role: Event::Participant.event_role_types[:participant]),
        method: :put, remote: true %>
  <% end %>
  -->
<% end %>
</p>

<p>
<% 
if user_signed_in? 
    if @current_user_is_participating %>
        <%= link_to "Drop out", 
            rm_role_event_path(role: Event::Participant.event_role_types[:participant]),
            method: :put, remote: true %>
    <% else %>
        <%= link_to "Sign Up", 
            add_role_event_path(role: Event::Participant.event_role_types[:participant]),
            method: :put, remote: true %>
    <%  end
end 
%>
</p>


<p>
Creator
<%= link_to @event.creator.user.name, user_path(@event.creator.user) %>
</p>

<%= 
#Event.reflect_on_all_associations.map{|x| x.class_name}.compact
%>

<p>Address: <%= @event.address.street_address %> </p>

<%= render partial: 'shared/social_profile/show', locals: {profiles: @event.social_profiles} %>

<div id="map"></div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
