<p><%= profiles.website%></p>

<p><%= profiles.facebook%></p>
<p><%= profiles.twitter%></p>
<p><%= profiles.reddit%></p>
<p><%= profiles.google_plus%></p>

<p><%= profiles.instagram%></p>
<p><%= profiles.youtube%></p>
<p><%= profiles.pintrest%></p>
