<%
#controll-specific assets
#http://theflyingdeveloper.com/controller-specific-assets-with-rails-4/ 
#https://stackoverflow.com/a/35319530
def asset_exist?(path)
  if Rails.configuration.assets.compile
    Rails.application.precompiled_assets.include? path
  else
    Rails.application.assets_manifest.assets[path].present?
  end
end
%>

<!DOCTYPE html>
<html>
  <head>
    <title>FitTogether</title>
    <!-- General Meta stuff -->
    <%= csrf_meta_tags %>
    <%= canonical_tag -%>


    <!-- general assets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- view-specific stuff -->
    <%= yield :head %>
  </head>

  <body>
    <%= render partial: 'layouts/partials/navbar'%>

    <!-- User notifications -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
