<%
#controll-specific assets
#http://theflyingdeveloper.com/controller-specific-assets-with-rails-4/ 
#https://stackoverflow.com/a/35319530
def asset_exist?(path)
  if Rails.configuration.assets.compile
    Rails.application.precompiled_assets.include? path
  else
    Rails.application.assets_manifest.assets[path].present?
  end
end
%>

<!DOCTYPE html>
<html>
  <head>
    <title>FitTogether</title>
    <%= csrf_meta_tags %>

    <!-- general assets -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- controller-specific assets -->
    <% if asset_exist? "#{params[:controller]}.js" %>
      <%= javascript_include_tag params[:controller]%>
    <% end %>
    <% if asset_exist? "#{params[:controller]}.css" %>
      <%= stylesheet_link_tag params[:controller]%>
    <% end %>

    <!-- view-specific stuff -->
    <%= yield :head %>
  </head>

  <body>
    <!-- User notifications -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- Login/registration changing -->
    <div class="hmenu">
      <%= render 'devise/menu/registration_items' %>
      <%= render 'devise/menu/login_items' %>
    </div>

    <%= yield %>
  </body>
</html>
